{% extends 'base/base.html' %}
    {% block content  %}
  <style>
  	.answer{
  		color: blue;
        font-size: 20px;
  	}


  </style>
 <div class="container">
 	<div class="col-md-12" style="margin-bottom:150px; margin-top: 50px;">
 	<div class="card" style="width: 60rem; margin-left: 30px;">
  <div class="card-header text-center bg-secondary" style="color: white"> <b> ANSWER KEY </b> </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">
     	<a href=" " class="answer">UPSSSC Junior Assistant 2019 Revised<b> Answer Key</b></a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer"> UPSSSC Computer Operator 2016 Revised Answer Key</a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer">UP 69000 Assistant Teacher Final Answer Key 2020</a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer"> Allahabad High Court RO/CA Revised Answer Key</a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer"> BPSC 65 Re Exam Answer Key </a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer"> SSC JHT 2019 Paper I Final Answer Key </a>
     </li>
     <li class="list-group-item">
     	<a href=" " class="answer"> MPPSC Pre Final Answer Key 2020 </a>
     </li>
   </ul>
  </div>	
 </div>
</div>




 {%  endblock %}





