<style>
.foot{
      background-color:#051226; 
      color: white;
      border: ridge; 
      padding-top: 20px;
      padding-left: 10px;
      margin-top: 10px;
    }
 .fa{
  color: white;
  letter-spacing: 10px;
  font-size: 20px;
 }
</style>
<div class="container-fluid">
<div class="row foot">
	<div class="col-md-4"> 
     <h3> About us</h3>
      <p> this website is to provide results,notification,<br> and admit card of all jobs</p>
	</div>
	<div class="col-md-2">
	 <p>© Copyright 2020 2021 </p>
     <p>parinaam.com</p>
	</div>
	<div class="col-md-2">  
     <h4> <b> Contact us </b> </h4>
     <p> <i class="fa fa-phone-square" aria-hidden="true"></i>: 9630135566 </p>
     <p> <i class="fa fa-envelope" aria-hidden="true"></i> 
         <a href="" style="color:white;"><b> : drawat138@gmail.com</b> </a>
     </p>
</div>
	<div class="col-md-4"> 
     <p> you can follow us on </p>
     <a href=" "> <i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
     <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
     <a href=" "><i class="fa fa-instagram" aria-hidden="true"></i></a>
     <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
	 </div>
</div>
</div>