<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <b> PARIK<span style="color: red;">SHA </span>  PARINAAM </b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/jobs"><b>HOME</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/result"><b>RESULT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admitcard"><b>ADMITCARD</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/answerkey"> <b>ANSWER KEY</b></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> EXAMS</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="#"> <b>SSC </b> </a>
       <a class="dropdown-item" href="#"> <b>RRB </b> </a>
       <a class="dropdown-item" href="#"> <b>NTPC </b> </a>
       <a class="dropdown-item" href="#"> <b> POLICE </b> </a>
          <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="#"> <b> UPSC </b> </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">UPCOMING</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>